In [1]:
import numpy as np
import pandas as pd

In [7]:
content = pd.read_csv('revenue-profit.csv', sep = ';')

In [8]:
content

   no_data  Revenue    Cost  Profit
0     2010      100  -90.00   10.00
1     2011      120 -105.60   14.40
2     2012      130 -114.40   15.60
3     2013      233 -207.37   25.63
4     2014      255 -221.85   33.15
5     2015      179 -152.15   26.85
6     2016      300 -246.00   54.00
7     2017      320 -268.80   51.20

In [9]:
type(content)

pandas.core.frame.DataFrame

In [10]:
content = content.rename(columns={'no_data':'Year'})

In [11]:
content

   Year  Revenue    Cost  Profit
0  2010      100  -90.00   10.00
1  2011      120 -105.60   14.40
2  2012      130 -114.40   15.60
3  2013      233 -207.37   25.63
4  2014      255 -221.85   33.15
5  2015      179 -152.15   26.85
6  2016      300 -246.00   54.00
7  2017      320 -268.80   51.20